<nav class="page-sidebar" [ngClass]="{'visible': isSidebarOpen()}">
  <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
  <div class="sidebar-overlay-slide from-top" id="appMenu">
    <!--<div class="row">-->
    <!--<div class="col-xs-6 no-padding">-->
    <!--<a href="" class="p-l-40"><img src="../../../../assets/img/demo/social_app.svg" alt="socail">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="col-xs-6 no-padding">-->
    <!--<a href="" class="p-l-10"><img src="../../../../assets/img/demo/email_app.svg" alt="socail">-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-xs-6 m-t-20 no-padding">-->
    <!--<a href="" class="p-l-40"><img src="../../../../assets/img/demo/calendar_app.svg" alt="socail">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="col-xs-6 m-t-20 no-padding">-->
    <!--<a href="" class="p-l-10"><img src="../../../../assets/img/demo/add_more.svg" alt="social">-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
  <!-- BEGIN SIDEBAR MENU HEADER-->
  <div class="sidebar-header d-flex flex-row align-items-center">
    <div class="brand-logo flex-1 cursor" (click)="navigate($event, config.sideBars[0])">
      <img src="../../../../../../assets/icon/android-icon-192x192-white.png"
           alt="logo" class="brand" data-src="assets/icon/android-icon-192x192-white.png" ui-jq="unveil" data-src-retina="assets/icon/android-icon-192x192-white.png" width="auto" height="50">
    </div>
    <div class="sidebar-header-controls flex-initial">
      <button type="button" class="btn btn-link visible-lg-inline" (click)="pinSidebar()">
        <i class="fa fa-thumb-tack fs-12"></i>
      </button>
    </div>
  </div>
  <!-- END SIDEBAR MENU HEADER-->
  <!-- START SIDEBAR MENU -->
  <div class="sidebar-menu" [perfect-scrollbar]="config">
    <!-- BEGIN SIDEBAR MENU ITEMS-->
    <ul class="menu-items p-t-25">

      <li *ngFor="let item of config.sideBars; let i = index" [permission]="item.permission">
        <a (click)="navigate($event, item)" #menuItem>
          <span class="title">{{item.title}}</span>
          <span class="icon-thumbnail">
            <i [class]="item.icon"  id="sidebar-{{i}}"></i>
          </span>
        </a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- END SIDEBAR MENU -->
</nav>
