/*------------------------------------------------------------------
[16. Tables and Datatables]
*/

/* Generic Tables
------------------------------------
*/
.table {
  margin-top: 5px;
  thead {
    tr {
      th {
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Montserrat';
        font-size: 13px;
        padding-top: 14px;
        padding-bottom: 14px;
        vertical-align: middle;
        border-bottom: 1px solid fade-out($color-master-light, .3);
        color: fade-out($color-master-dark, .65);
        &[class*='sorting_'] {
          color: $color-master-dark;
        }
        &:first-child {
          padding-left: 18px !important;
        }
        .btn {
          margin-top: -20px;
          margin-bottom: -20px;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        background: #fff;
        border-bottom: 1px solid fade-out($color-master-light, .3);
        border-top: 0px;
        padding: 20px;
        font-size: 13.5px;
        .btn-tag {
          background: fade-out($color-master-dark, .93);
          display: inline-block;
          margin: 5px;
          border-radius: 4px;
          padding: 5px;
          color: #62605a !important;
          &:hover {
            background: fade-out($color-master-dark, .85);
          }
        }
        &[class*='sorting_'] {
          color: #000;
        }
      }
      &.selected td {
        background: $color-warning-lighter;
      }
    }
  }
  &.table-hover {
    tbody {
      tr {
        &:hover td {
          background: $color-complete-lighter !important;
        }
        &.selected:hover td {
          background: $color-warning-lighter !important;
        }
      }
    }
  }
  &.table-striped {
    tbody {
      tr {
        td {
          background: $body-background !important;
        }
        &:nth-child(2n+1) td {
          background: #fff !important;
        }
      }
    }
  }
  &.table-borderless {
    tbody {
      tr {
        td {
          border-top: 0;
        }
      }
    }
  }
  &.table-condensed {
    table-layout: fixed;
    thead {
      tr {
        th {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
    tbody {
      tr {
        td {
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }
    }
    thead tr th, tbody tr td, tbody tr td * {
      white-space: nowrap;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.table-detailed {
      & > tbody > tr {
        &.shown {
          & > td {
            background: $color-warning-lighter;
            &:first-child:before {
              @include rotate(90deg);
            }
          }
          & + tr {
            & > td {
              background: fade-out($body-background, .6);
              padding: 0px 40px;
              .table-inline {
                background: transparent;
                tr, td {
                  background: transparent;
                  font-weight: 600;
                }
              }
            }
          }
        }
        &.row-details {
          & > td {
            &:first-child:before {
              content: '';
            }
          }
        }
        & > td {
          &:hover {
            cursor: pointer;
          }
          &:first-child:before {
            content: "\f054";
            display: inline-block;
            margin-right: 8px;
            font-family: 'FontAwesome';
            @include transition(all 0.12s linear);
          }
        }
      }
      .table-inline {
        td {
          border: none;
          text-align: left;
        }
      }
    }
  }
  &.table-borderless {
    & > tbody {
      & > tr {
        & > td {
          border-bottom: 0px;
        }
      }
    }
  }
}

.fht-table {
  margin-bottom: 0 !important;
}

/* Data-tables
------------------------------------
*/
.table.dataTable.no-footer {
  border: none;
}

.dataTables_scroll {
  &:hover {
    .dataTables_scrollBody:before {
      content: "";
      top: 0;
      height: 0;
    }
  }
}

.dataTables_scrollBody {
  overflow-y: auto;
  border: none !important;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    background: transparent;
  }

}

.dataTables_wrapper {
  .dataTables_paginate {
    li a {
      font-size: 12px;
      border: 1px solid transparent !important;
      background: none !important;
      opacity: 0.35;
      padding: 3px 3px;
      margin: 0;
      color: #333 !important;
    }
    li a:hover {
      color: #626262 !important;
      opacity: 0.65;
      border: 1px solid !important;
    }
    .disabled {
      border: 1px solid transparent !important;
      cursor: not-allowed !important;
    }
  }
}

.ngx-datatable.material {
  background: #f5f5f5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ngx-datatable .datatable-row-even {
  background: #fff;
}

.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover, .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
  background-color: #daeffd !important;
}

.ngx-datatable .datatable-body-row {
  .datatable-body-cell-label {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.ngx-datatable .datatable-body-row {
  border-bottom: 1px solid #e2e8ec;
  .datatable-body-cell-label label {
    margin-bottom: 1rem !important;
  }
}

.ngx-datatable .checkbox {
  position: relative !important;
  -webkit-transform: translateY(-23%);
  -ms-transform: translateY(-23%);
  transform: translateY(-23%);
}

.ngx-datatable .check-all {
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  right: 4px;
}

.ngx-datatable .datatable-row-wrapper > .active {
  background-color: #daeffd !important;
}

.datatable-checkbox input[type='checkbox']:before {
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  left: -1px;
  transition: none;
}

.datatable-checkbox input[type='checkbox']:checked:before {
  font-family: FontAwesome;
  font-size: 12px;
  content: "\F00C";
  color: #fff;
  border: none;
  top: 2px;
  left: 1px;
  transform: rotate(0deg);
  webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}

.datatable-checkbox input[type='checkbox']:checked:after {
  background-color: #10cfbd;
}

.datatable-checkbox input[type='checkbox']:after {
  border-radius: 3px;
  left: -1px;
}

.dataTables_wrapper {
  label {
    input, select {
      background-color: #ffffff;
      background-image: none;
      border: 1px solid rgba(0, 0, 0, 0.07);
      font-family: Arial, sans-serif;
      color: #2c2c2c;
      outline: 0;
      height: 35px;
      padding: 9px 12px;
      line-height: normal;
      font-size: 12px;
      font-weight: normal;
      vertical-align: middle;
      min-height: 35px;
      -webkit-transition: all 0.12s ease;
      transition: all 0.12s ease;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
    }
  }
}

.page-item.active .page-link {
  font-weight: bold !important;
  color: #626262 !important;
  opacity: 1 !important;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
  margin-top: 25px !important;
}

.dataTables_paginate.paging_bootstrap.pagination {
  padding-top: 0;
  padding-right: 20px;
}

.dataTables_wrapper .dataTables_info {
  clear: none;
  font-size: 12px;

  padding: 0 33px;
  color: $color-master;
}

.dataTables_scrollHeadInner {
  padding-right: 0 !important;
}

.export-options-container {
  position: relative;
}

.export-options-container a {
  color: inherit;
  opacity: 1;
}

.exportOptions .DTTT.btn-group a {
  display: block !important;
}

table.dataTable thead {
  .sorting_asc:after {
    background-image: url("#{$base-img-url}/icons/sort_asc.png");
  }
  .sorting_desc:after {
    background-image: url("#{$base-img-url}/icons/sort_desc.png");
  }
  .sorting:after {
    background-image: url("#{$base-img-url}/icons/sort_both.png");
  }
  .sorting_asc_disabled:after {
    background-image: url("#{$base-img-url}/icons/sort_asc_disabled.png");
  }
  .sorting_desc_disabled:after {
    background-image: url("#{$base-img-url}/icons/sort_desc_disabled.png");
  }

}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  bottom: 12px;
  content: "";
  width: 19px;
  height: 19px;
  background-position: center center;
  opacity: 1;
}

/* Responsive Handlers : Tables */
@media (max-width: 991px) {
  .dataTables_wrapper .dataTables_info {
    float: left;
  }
  .dataTables_paginate.paging_bootstrap.pagination {
    float: right;
  }

}

@media (max-width: 480px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: left;
    clear: both;
    display: block;
  }
}

/* Demo classes */
.demo-table-search {
  thead th {
    &:nth-child(1) {
      width: 20%;
    }
    &:nth-child(2) {
      width: 22%;
    }
    &:nth-child(3) {
      width: 24%;
    }
    &:nth-child(4) {
      width: 15%;
    }
    &:nth-child(5) {
      width: 19%;
    }
  }
}

.demo-table-dynamic {
  thead th {
    &:nth-child(1) {
      width: 25%;
    }
    &:nth-child(2) {
      width: 30%;
    }
    &:nth-child(3) {
      width: 20%;
    }
    &:nth-child(4) {
      width: 25%;
    }
  }
}
