<div class="login-wrapper">
  <div class="login-container">
    <div class="m-l-10 m-r-10">
      <div class="inline font-size-0 logo-container text-center">
        <img class="inline-block" src="../../assets/icon/logo.png" alt="logo" width="100" height="auto">
        <!--<div class="font-weight font-size-25 inline-block align-middle line-height-2 m-l-10">TSC Schedule</div>-->
      </div>
      <h4>Recover your password</h4>
      <form id="form-register"
            [formGroup]="frm"
            (ngSubmit)="onSubmit(frm.value)"
            class="p-t-15" role="form" name="register" novalidate>
        <div class="row">
          <div class="col-sm-12">
            <div nois-input-container
                 class="form-group form-group-default"
                 [ngClass]="{ 'has-error': frm.get('email').invalid && !frm.get('email').pristine }">
              <label>Email</label>
              <input type="text" name="email" placeholder="Your Email"
                     class="form-control"
                     id="email"
                     [formControl]="frm.get('email')"
                     required autofocus>
            </div>
            <label class="error" for="email"
                   *ngIf="frm.get('email').hasError('required') && !frm.get('email').pristine">
              {{validationMessages['email'].required}}</label>
            <label class="error" for="email"
                   *ngIf="frm.get('email').hasError('pattern') && !frm.get('email').pristine">
              {{validationMessages['email'].pattern}}</label>
          </div>
        </div>
        <div class="row no-margin">
          <div class="col-sm-6 no-padding">
            <button class="btn btn-primary btn-cons" type="submit" [disabled]="frm.invalid">Submit</button>
          </div>
          <div class="col-sm-6 text-right m-t-10 m-b-10 block">
            <span class="m-t-10 text-right">
              Already have an account? <a routerLink="/auth/sign-in">Sign In</a>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
