@import '~styles/_var.scss'; // see webpack.dev.js > sassLoader

.register-container {
  display: block;
}

/*------------------------------------------------------------------
[22. Login]
*/


.login-wrapper{
  .login-container{
    width: 496px;
    display: block;
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}


/* Responsive handlers : Login
------------------------------------
*/

@media (max-width: 768px) {
  .login-wrapper{
    .login-container{
      width: 100%;
    }
  }
}

@media only screen and (max-width : 321px) {
  .login-wrapper{
    .login-container{
      width: 100%;
    }
  }
}
