<div class="login-wrapper">
  <div class="login-container">
    <div class="m-l-10 m-r-10">
      <div class="inline font-size-0 logo-container text-center">
        <img class="inline-block" src="../../assets/icon/logo.png" alt="logo" width="100" height="auto">
        <!--<div class="font-weight font-size-25 inline-block align-middle line-height-2 m-l-10">TSC Schedule</div>-->
      </div>
      <h3>Reset Your Password</h3>
      <form id="form-register"
            [formGroup]="frm"
            (ngSubmit)="onSubmit(frm.value)"
            class="p-t-15" role="form" name="register" novalidate>
        <div class="row">
          <div class="col-sm-12">
            <div nois-input-container
                 class="form-group form-group-default"
                 [ngClass]="{'has-error':!frm.get('password').valid && !frm.get('password').pristine,
         'required': true}">
              <label>Password</label>
              <div class="controls">
                <input formControlName='password'
                       id="password"
                       type="password"
                       name="password"
                       class="form-control">
              </div>
            </div>
            <label class="error" for="password"
                   *ngIf="frm.get('password').hasError('required') && !frm.get('password').pristine">
              {{validationMessages['password'].required}}</label>
            <label class="error" for="password"
                   *ngIf="frm.get('password').hasError('pattern') && !frm.get('password').pristine">
              {{validationMessages['password'].pattern}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div nois-input-container
                 class="form-group form-group-default"
                 [ngClass]="{'has-error':!frm.get('confirmPassword').valid && !frm.get('confirmPassword').pristine,
         'required': true}">
              <label>Confirm Password</label>
              <div class="controls">
                <input nois-input
                       formControlName='confirmPassword'
                       id="confirmPassword"
                       type="password"
                       name="confirmPassword"
                       class="form-control">
              </div>
            </div>
            <label class="error" for="confirmPassword"
                   *ngIf="frm.get('confirmPassword').hasError('required') && !frm.get('confirmPassword').pristine">
              {{validationMessages['confirmPassword'].required}}</label>
            <label class="error" for="confirmPassword"
                   *ngIf="!frm.get('confirmPassword').hasError('required') && frm.get('confirmPassword').hasError('nomatch') && !frm.get('confirmPassword').pristine">
              {{validationMessages['confirmPassword'].nomatch}}</label>
          </div>
        </div>
        <div class="m-t-10 flex flex-row justify-between">
          <button class="btn btn-primary btn-cons" type="submit" [disabled]="frm.invalid || submitted">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
